/*progres-bar*/
#floatingCirclesG{
	display: none;
	position:relative;
	width:384px;
	height:384px;
	margin:auto;
	transform:scale(0.6);
		-o-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-webkit-transform:scale(0.6);
		-moz-transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:rgba(50,194,55,0.99);
	height:69px;
	width:69px;
	border-radius:36px;
		-o-border-radius:36px;
		-ms-border-radius:36px;
		-webkit-border-radius:36px;
		-moz-border-radius:36px;
	animation-name:f_fadeG;
		-o-animation-name:f_fadeG;
		-ms-animation-name:f_fadeG;
		-webkit-animation-name:f_fadeG;
		-moz-animation-name:f_fadeG;
	animation-duration:1.35s;
		-o-animation-duration:1.35s;
		-ms-animation-duration:1.35s;
		-webkit-animation-duration:1.35s;
		-moz-animation-duration:1.35s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:156px;
	animation-delay:0.51s;
		-o-animation-delay:0.51s;
		-ms-animation-delay:0.51s;
		-webkit-animation-delay:0.51s;
		-moz-animation-delay:0.51s;
}

#frotateG_02{
	left:45px;
	top:45px;
	animation-delay:0.68s;
		-o-animation-delay:0.68s;
		-ms-animation-delay:0.68s;
		-webkit-animation-delay:0.68s;
		-moz-animation-delay:0.68s;
}

#frotateG_03{
	left:156px;
	top:0;
	animation-delay:0.85s;
		-o-animation-delay:0.85s;
		-ms-animation-delay:0.85s;
		-webkit-animation-delay:0.85s;
		-moz-animation-delay:0.85s;
}

#frotateG_04{
	right:45px;
	top:45px;
	animation-delay:1.01s;
		-o-animation-delay:1.01s;
		-ms-animation-delay:1.01s;
		-webkit-animation-delay:1.01s;
		-moz-animation-delay:1.01s;
}

#frotateG_05{
	right:0;
	top:156px;
	animation-delay:1.18s;
		-o-animation-delay:1.18s;
		-ms-animation-delay:1.18s;
		-webkit-animation-delay:1.18s;
		-moz-animation-delay:1.18s;
}

#frotateG_06{
	right:45px;
	bottom:45px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#frotateG_07{
	left:156px;
	bottom:0;
	animation-delay:1.52s;
		-o-animation-delay:1.52s;
		-ms-animation-delay:1.52s;
		-webkit-animation-delay:1.52s;
		-moz-animation-delay:1.52s;
}

#frotateG_08{
	left:45px;
	bottom:45px;
	animation-delay:1.69s;
		-o-animation-delay:1.69s;
		-ms-animation-delay:1.69s;
		-webkit-animation-delay:1.69s;
		-moz-animation-delay:1.69s;
}



@keyframes f_fadeG{
	0%{
		background-color:rgb(152,186,157);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes f_fadeG{
	0%{
		background-color:rgb(152,186,157);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:rgb(152,186,157);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:rgb(152,186,157);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:rgb(152,186,157);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}
header{
	background-image: url('img/head-bg.jpg');
	-webkit-background-size: cover;
	background-size: cover;
}
.navbar{
	margin-bottom: 0px;
}
.head-bg-filter{
	padding: 50px 0;
	background-color: rgba(0, 0, 0, 0.6);
}
.head{
	font-size: 30px;
	text-transform: uppercase;
	color: #fff;
}
.form-wrap{
	max-width: 600px;
	margin: 0 auto;
	
}
input{
	width: 50%;
	min-width: 200px;
	margin: 20px auto;
	padding: 5px 10px;
	border: 1px solid #fff;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.5);
}
input:focus{
		background-color: rgba(255, 255, 255, 0.7);
}
input[type="submit"]{
	font-family: roboto;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	background-color: #337ab7;
}
p{
	font-family: roboto;
	font-size: 17px;
	line-height: 25px;
}
img{
	height: auto;
	max-width: 100%;
	margin: 30px 0;
	padding-left: 40px;
}
section{
	padding-top: 30px;
	padding-bottom: 30px;
}
h2{
	margin-bottom: 30px;
}
footer{
	margin-top: 30px;
}
.footer-bg{
	padding: 10px 0;
	color: #fff;
	background-color: #000;
}